

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*
 * Globals
 */

body {
/*  font-family: Georgia, "Times New Roman", Times, serif;
*/
    padding-top: 50px;
    padding-bottom: 20px;
    color: #555;
}

/*
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
*/


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}



.mnggrnnk-problem-h2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.mnggrnnk-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mnggrnnk-meta a {
     border-bottom: 1px dotted #ba0000;
}
/*
.mnggrnnk-meta a:hover {
     border-bottom: 1px solid #ba0000;
}
*/


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}










