<div class="markdownx">
    {{ markdownx_editor }}
    <div class="markdownx-preview"></div>
<!--    
    <script type="text/javascript">
        console.log('Hi!');
        var doc = document.currentScript.parentElement;
        var preview = null;
        for (var i = 0; i < doc.childNodes.length; i++) {
            if (doc.childNodes[i].className == "markdownx-preview") {
                console.log('Yeah!');
                preview = doc.childNodes[i];
                break;
            }        
        }
        renderMathInElement(preview);
    </script>
-->
</div>